# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA data directory
.idea

# Ignore directories created by ANTLR plguin for IntelliJ
lib/src/main/antlr/gen/
lib/src/main/gen/
